.searchBarContainer{
    max-width: 450px;
}


.imageElement--imagen_home{
    position:relative;
    left: 10%;
}

.imageElement--global__slider--img1{
    position:relative;
    left: 0%;
    min-height: 55px;
    margin: auto;
   
}

.imageElement--global__slider--img2{
    position:relative;
    left: 0%;
    width: 40px;
    margin: auto;
  
 
}

.imageElement--global__slider--img3{
    position:relative;
    left: 0%;
    width: 50px;
}

.imageElement--global__slider--img4{
    position:relative;
    left: 0%;
    width: 55px;
    margin: auto;

}

.imageElement--global__slider--img5{
    position:relative;
    left: 0%;
    min-height: 60px;
    margin: auto;
}

.imageElement--global__slider--img6{
    position:relative;
    left: 0%;
    width: 65px;
    margin: auto;
}
.imageElement--global__slider--img7{
    position:relative;
    left: 0%;
    width: 60px;
    margin: auto;
}