.paragraph--home_titulo {
    color: rgb(14, 2, 2);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.15;


}

.paragraph--home_category--titulo {
    color: rgb(14, 2, 2);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 5;



}

.container--home_texto2--titulo {
    color: rgb(14, 2, 2);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 6;


}

.paragraph--home_texto--titulo {
    color: rgb(14, 2, 2);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3;



}