.flexCol--detalles_productos {
    align-items: center;
    transform: translateY(-25px);
    padding: 0px;
    margin: 0px;
}

.flexRowContent--buy-button02 :global(.vtex-button) {
    border          : 1px solid #f60606;
    background-color: #f60606;
    font-size       : 12px;
    font-family     : Montserrat, sans-serif;
    font-weight     : 800;
    line-height     : 40px;
    width           : 210px;
    margin          : auto;
}

.flexRowContent--simulator :global(.vtex-address-form__neighborhood) {
    display: none;
}

.flexColChild--detalles_productos :global(.vtex-numeric-stepper__input){
    width: 6rem;
    height: 2rem;
}

.flexRowContent--simulator :global(.vtex-address-form__state){
   width: 200px;
   transform: translateX(-90px);
   margin: 0px;
   padding: 0px;
   border: 1px solid #000;
   
 }


.flexRowContent--simulator :global(.vtex-address-form__city){
    transform: translateX(120px) translateY(-42px);
    width: 200px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000;
}


.flexRowContent--simulator :global(.vtex-dropdown__label){
    display: none;
    }


.flexRowContent--simulator :global(.vtex-dropdown__caption){
    padding: 10px 5px;
    font-weight: 600;
    font-size: 10px;
    font-family: Montserrat,sans-serif;
}