 .label--slider__one--col {
     white-space: nowrap;
     color      :  #18337f;
     margin: 10px 0 0;
     margin-top: 10px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
   



 }


 .link--slider__one--col {
     color: rgb(254, 255, 255)
 }