.flexColChild--header-tablet :global(.vtex-store-components-3-x-searchBarContainer) {
    max-width: 100%;
    padding  : 0%;
    border   : none;
}

.flexRow--header-tablet :global(.vtex-store-components-3-x-container) {
    padding: 0%;
}