.paragraph--desktop1 {
    font-family: Roboto, sans-serif;
    color      : #000000;
    font-weight: 900;
    font-size  : 30px;
}

.paragraph--desktop_texto1 {
    font-family: Roboto, sans-serif;
    color      : #000000;
    font-weight: 540;
}

.paragraph--desktop_texto2 {
    font-family: Roboto, sans-serif;
    color      : #000000;
    font-weight: 540;
}

.paragraph--desktop_texto3 {
    font-family: Roboto, sans-serif;
    color      : #000000;
    font-weight: 540;
}

.paragraph--desktop_texto4 {
    font-family: Roboto, sans-serif;
    color      : #000000;
    font-weight: 540;
}