.paragraph--navigator-marcas {
    font-size     : 15px;
    font-weight   : 700;
    cursor        : pointer;
    position      : relative;
    text-transform: uppercase;
    margin-left   : 30px;

}

.paragraph--orderBy {
    margin     : 0px;
    padding    : 0px;
    transform  : translateX(450px);
    font-family: Roboto, sans-serif;
    color      : black;

}